@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
*{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirLTProRoman.otf');
}

@font-face {
  font-family: 'Alef-Regular';
  src: url('fonts/Alef-Regular.ttf');
}

/*START NAVBAR*/

.menu-menu-3{
  position: absolute;
}

.menu{
  padding: 80px 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.menu-3{
  background: rgb(255, 0, 115);
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li{
  display: inline-block;
  margin: 0 15px;
}
.menu a{
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
}

.menu-3 a::before{
  transform-origin: 50% 50%;
  background: #F06292;
}

/*END OF NAVBAR*/


/*FOR THE DIGIPROD TEXT*/

.face, p {
  font-size: 15px ;
  color: #F06292;
  font-family: 'Open Sans Condensed';
}

body {
    margin: 0;
    height: 100vh;
  }
  
  .face {
    font-family: 'Avenir', sans-serif;
    color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex-direction: column;
    font-size: 700%; 
    text-align: center;
    width: 100%;
  }
  
  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .h1 {
    font-size: 210%;
    font-weight: bold;
    margin: 05px;
    background: linear-gradient(
      to right,
      rgb(255, 0, 115) 20%,
      rgb(236, 139, 191) 30%,
      rgb(236, 139, 191) 70%,
      rgb(255, 0, 115) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }

/*END FOR THE DIGIPROD TEXT*/


/*START OF OUR PRODUCTS*/

.products h1 {
  text-align: center;
  background-color: rgb(255, 0, 115);
  padding-top: 400px;
  font-size: 100px;
  font-family: 'Open Sans Condensed';
  color: #FFF;
}

/*END OF OUR PRODUCTS*/


/*START OF IMAGES CONTAINER*/

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 0, 115);
  padding-top: 10%;
}

.images img {
  width: 400px;
  height: 300px;
  border: 3px solid #F06292;
  
  
  margin: 10px;
  transition: 400ms;
}

.images img:hover {
  transform: scale(1.03);
  box-shadow: 4px 7px 7px 0px #000;
}

/*END OF IMAGES CONTAINER*/


/*START OF ABOUT US CONTAINER*/

.block {
  background-color: rgb(255, 0, 115);
  height: 100%;
  width: 100%;
  text-align: center;
  text-align: justify;
  margin: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  position: absolute;
  padding-top: 15% ;
  
}

.block h1 {
  text-align: center;
  color: #FFF;
  font-family: 'Open Sans Condensed';
  font-size: 100px;
}

.block p {
  max-width: 100%;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  color: #fff;

}

/*END OF ABOUT US CONTAINER*/ 


/*START OF CONTACT US CONTAINER*/
.container {
  background-color:rgb(255, 0, 115);
  padding-top: 85px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.container h1 {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

.container h4 {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
}

.container{
  margin-top: 60%;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #F06292;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #F06292;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #F06292;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #F06292;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

/*END OF CONTACT US CONTAINER*/


/*START OF COPYRIGHT CONTAINER*/

.cp-text{
  color: white;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  background: rgb(255, 0, 115);
  text-align: center;
  padding: 5%;
  margin-top: 115%;
  font-family: 'Avenir';
  }

/*END OF COPYRIGHT CONTAINER*/




